<main>
  <h1>welcome to <span class="fa fa-book"></span>Bookers !!</h1>
  <p>In <span class="fa fa-book"></span>Bookers,</p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>

  <div class="btn-wrapper">
        <li>
          <%= link_to "Log in", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
  </div>

</main>

<footer>
  <p>CopyRight Infratop.inc</p>
</footer>